<div class="feeds col-md-8">
    <div class="row navigate-photo-album">
        <ul class="nav justify-content-center w-100">
            <li class="nav-item">
                <button class="button-photo nav-link active">PHOTO</>
            </li>
            <li class="nav-item">
                <button class="button-album nav-link">ALBUM</>
            </li>
        </ul>
    </div>

    <div class="wrapper-feeds-photo row mt-4">
        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col photo-images">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col photo-images">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col photo-images">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col photo-images">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col photo-images">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col photo-images">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col photo-images">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col photo-images">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>



    <div class="wrapper-feeds-album row mt-4">
        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col album-images">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col album-images">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="col p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col album-images">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="col p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col album-images">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="col p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col album-images">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="col p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 feed-photo">
            <div class="card">
                <div class="row">
                    <div class="col album-images">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                        <img src="/assets/photo.png" alt="">
                    </div>
                    <div class="col">
                        <div class="col p-0 d-flex flex-column">
                            <div class="card-body p-2">
                                <div class="card-info">
                                    <div class="card-info__avatar">
                                        <a href="#"><img src="../assets/avatar.png" class="img-fluid avatar rounded-circle" alt="avatar" /></a>
                                    </div>
                                    <div class="card-info__name">
                                        <a href="#">Khanh Vo</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h5>Lorem ipsum, dolor sit</h5>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores eligendi iure, non laudantium vitae dolore dolor,</p>
                                </div>
                            </div>
                            <div class="card-footer__react__time p-2">
                                <div class="like-count">
                                    <i class="fas fa-heart"></i>
                                    <p>123</p>
                                </div>

                                <div class="date-time">
                                    <p>4:56pm 01/04/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>




<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>
