<div class="new-album col-md-8">
    <div class="row">
        <h5 class="mt-4">New Album</h5>
        <hr class="w-100">
    </div>
    <div class="form-new-album">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6 d-flex flex-column justify-content-between">
                    <div>
                        <label for="">Title</label>
                        <input type="text" class="form-control" name="title" id="title">
                    </div>
                    <div class="w-50">
                        <label for="">Sharing mode</label>
                        <select name="privacy" id="privacy" class="form-control ">
                            <option value='Public' selected="selected">Public</option>
                            <option value='Private'>Private</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Description</label>
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>

                </div>
            </div>
            <Div class="preview-photo-upload form-row">
                <div class="col-md-2 mt-3">
                    <div class="photo-upload-border d-flex justify-content-center align-items-center">
                        <i class="fas fa-plus"></i>
                        <input type="file" multiple name="photo_url" class="photo-upload" id="photo_url">
                    </div>
                </div>

                
            </div>

            <div>
                <button class="btn btn-success mt-5" id="submit-album">Save</button>
            </div>

        </form>
    </div>
</div>






<script>



</script>