/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    font-size: 16px;
}

.header {
    background-color: rgb(60, 89, 150);
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}


.header__left {
    display: flex;
    justify-content: flex-end;
}
.header__left a{
    color: white;
    font-weight: 700;
}




.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__middle form {
    width: 60%;
}


.header__middle form div.form-group {
    margin: 0.3rem 0 0.3rem 0;
}

.header__middle input {
    margin: 0
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info .info__avatar img {
    max-height: 30px;
}

.info .info__name {
    color: white;
    padding-left: 10px;
}

.info .info__name a {
    color: white;
}

.header__right {
    color: white;
    display: flex;
    justify-content: space-around;
}

.header__right a {
    color: white;
}