<header>
    <div class="header row">
        <div class="header__left col-md-2">
            <a href="#">Fotobook</a>
        </div>
        <div class="header__middle col-md-8 p-0">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" placeholder="Search Photo/Album" name="search">
                </div>
            </form>
            <div class="info">
                <div class="info__avatar">
                    <a href="#">
                        <%= image_tag "avatar.png", class:"img-fluid rounded-circle", alt:"avatar" %>
                    </a>
                </div>
                <div class="info__name">
                    <a href="#">Khanh Vo</a>
                </div>
            </div>
        </div>
        <div class="header__right col-md-2">
            <a href="#">Logout</a>
        </div>
    </div>
</header>